p {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.864);
}

h4, h3, h2, h1 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.945);
}

body {
background-color: #242222;


}



.left-side {
    float: left;
    width: 20%;
    
}
.right-side {
    float: right; 
    width: 80%
}

.ToC:link{
    color: rgb(0, 149, 255);
    text-decoration: none;
}
.ToC:visited{
    color: rgb(0, 149, 255);
    text-decoration: none;
}
.table{
    position: fixed;
    top: 55%; /* Adjust the vertical position */
    left: 0;
    transform: translateY(-50%); /* Center vertically */
     /* Add a semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    
}


a{
    color: rgb(0, 149, 255);
}


a:visited{
    color: rgb(195, 132, 192);
}

.cover {
    width: 200px;
    border-radius: 20px;
    float: left;
     
}

.visual{
    width: 600px;

    border-radius: 20px;
    float: center;

}



.sub1{
    text-indent: 10px;
}