
p {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.864);
}

h4, h3, h2, h1 {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.945);
}

body {
background-color: #242222;


}

h1 {
    transform: translateX(30%);
}

.left-side {
    float: left;
    width: 15%;
    
}
.right-side {
    float: right; 
    width: 85%
}

.ToC:link{
    color: rgb(0, 149, 255);
    text-decoration: none;
}
.ToC:visited{
    color: rgb(0, 149, 255);
    text-decoration: none;
}
.table{
    position: fixed;
    top: 20%; /* Adjust the vertical position */
    left: 0;
    transform: translateY(-50%); /* Center vertically */
     /* Add a semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    
}


a{
    color: rgb(0, 149, 255);
}


a:visited{
    color: rgb(195, 132, 192);
}

.cover {
    width: 175px;
    border-radius: 30px;
    float: right;
    margin-left: 20px;
    
    transform: translatex(-45%);
}

.visual{
    width: 550px;
    border-radius: 20px;
    float: center;
    color: rgba(142, 24, 50, 0.864);
}



.sub1{
    text-indent: 10px;
}